<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mosy.kalin.mosy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" /> -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity
            android:name=".LandingActivity_"
            android:label="@string/manifest_landingActivityTitle"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity_"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".RegisterActivity_"
            android:label="Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WallActivity_"
            android:label="@string/manifest_venuesActivityTitle"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
                <!-- <action android:name="android.intent.action.MAIN" /> -->
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".UserProfileActivity_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VenueMenuActivity_"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <data
                    android:host="google.com"
                    android:scheme="http" />

                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VenueDetailsActivity_"
            android:label="@string/manifest_venueDetailsActivityTitle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VenuesFiltersActivity_"
            android:theme="@style/Theme.AppCompat.PopUp" />
        <activity
            android:name=".DishesFiltersActivity_"
            android:theme="@style/Theme.AppCompat.PopUp" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>